<!DOCTYPE html>
<html lang="zh-CN">
<%- partial('_partial/head') %>

<body>
<%- partial('_partial/header') %>
<div class="a4-paper">
    <main class="a4-paper-container">
            <%- body %>
    </main>
</div>
<%- partial('_partial/footer') %>
</body>

</html>